@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5rem;
}

body {
  font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #050405;
    color: white;

}
.bgimage{
  background-image: linear-gradient(rgba(49, 46, 46, 0.7),rgba(46, 42, 42, 0.7)),url(../assests/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
@media (max-width: 991px) {
  .bgimage{
    width: 100%;
    height: 100%; 
  }
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
/* main {
    margin-right: 8%;
    margin-left: 10%;

} */
.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: rgb(224, 203, 203);
  display: inline-block;
  margin: 0 1rem;
}


.header .navbar a:hover {
    border-bottom: 5px solid #e274fd;
  letter-spacing: 2px;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-weight: bolder;
}

.logo i {
  color: #e274fd;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
}
.title {
    font-size: 2.5rem;
}

.search {
    width: auto;
    margin-top: 5vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
      font-size: 2rem;
}

.source-field {
    display: flex;
    align-items: center;
    text-align: center;
    position: inherit;
    padding: 10px;
    border-radius: 10%;
    font-size: 2rem;
}

.dest-field {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 10px;
  border-radius: 10%;
  font-size: 2rem;
}

.source-field input, .dest-field input {
    margin-right: 12px;
    font-size: 2rem;
}

.fa-search {
    color: #08d6ff;
}

input[type=text] {
  font-size: 2rem;
    width:  1000%;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    background: rgba(45, 11, 68, 0.4);
    border: 2px solid #712594;
}

input[type=text]:focus {
    outline: none;
    border: 3px solid #08d6ffd0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  font-size: 2rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


::placeholder {
    color: white;
    opacity: 0.8;
}

.selected-flight {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 20px;
}

.selected-flight span {
    margin-right: 32px;
}

.input {
    width: 50%;
    margin-top: 3vh;
    padding: 8px 20px;
    border: 2px solid #712594;
    border-radius: 5px;
    background-color: #000324;
    color: white;
}

select {
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.ticket-class {
    position: relative;
}

.ticket-class:after {
	font-family: FontAwesome;
  	content: '\f107';
  	font-size: 28px;
    position: relative;
    right: 40px;
    top: 5px;
  	color: #ffffff;
  	pointer-events: none;
}

.input:focus {
    outline: none;
    border: 3px solid #08d6ffd0;
}

.options {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    -webkit-tap-highlight-color: transparent;
}

.options label {
    margin-top: 20px;
}

.options input {
    margin-right: 15px;
}

.wrapper {
    margin-top: 5vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    cursor: default;
    text-align: left;
}

.footnote {
    color: rgb(211, 211, 211);
    text-align: left;
    font-size: 10px;
}

.info {
    color: #ddd;
    margin-top: 0px;
}

.headings {
    color: #9E9E9E;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.wrapper .headings span{
        text-transform:uppercase;
}
.data {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    background: rgba(93, 32, 134, 0.4);
    border: 1px solid #712594;
    padding: 20px;
}

.data:hover {
    border: 1px solid #e274fd;
}

.data span, .headings span {
    flex: 1;
}

.data :nth-last-child(1), .headings :nth-last-child(1) {
    flex: 0;
}
.heading1{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 3rem;
}

.heading1 span{
    color:#0E9BC1;
    text-transform: uppercase;
}
.btn {
    cursor: pointer;
    margin-top: 72px;
    margin-bottom: 32px;
}
.btn:hover{
      letter-spacing: 2px;
}
.btn-text {
    padding: 6px 12px;
    font-size: 1.7rem;
    color: #0E9BC1;
}


.btn-text:hover {
    background: #0E9BC1;
    color: white;

}

.container {
    margin-top: 5%;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding: 1% 0% 3% 0%;
}
.details {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding-left: 10%;
    width: 90%;
    background: rgba(1, 40, 51, 0.4);
}

.addons {
    grid-row: 2 / span 1;
    padding-top: 32px;
    padding-left: 10%;
    width: 90%;
    background: rgba(1, 40, 51, 0.4);
}

.seating {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.seating img {
    width: 250px;
}

.receipt {
    padding: 32px;
    margin: 48px auto;
    width: 50%;
    border: 2px solid #06a7c7;
    background-color: rgba(1, 40, 51, 0.4);
    -webkit-box-shadow: 0px 0px 22px 12px rgba(42,4,99,1);
    -moz-box-shadow:  0px 0px 22px 12px rgba(42,4,99,1);
    box-shadow:  0px 0px 22px 12px rgba(42,4,99,1);
    text-align: left;
}

.tick {
    width: 50px;
    margin: auto;
}

@media only screen and (max-width: 750px) {
    .flight-list {
        margin: 32px;
    }

    .wrapper {
        overflow-x: auto;
    }

    .headings, .data {
        width: 600px;
    }

    input[type=text] {
        width: 100%;
    }

    .container {
        margin-bottom: 32px;
        grid-template-columns: 1fr;
        justify-items: start;
        border: none;
    }

    .seating {
        display: none;
    }

    .title {
        font-size: 1.5rem;
    }

    .selected-flight {
        font-size: 1rem;
    }

    .selected-flight span {
        margin-right: 10px;
    }

    .options {
        font-size: 1rem;
    }

    .btn-text {
        font-size: 1rem;
    }

    .input {
        width: 90%;
    }

    main {
        margin: 0;
    }
    /* .bgimage{
      display: none;
    } */
    .receipt {
        margin: 48px auto;
        width: 70%;
        background-color: rgba(1, 40, 51, 0.4);
        box-shadow: none;
        border: none;
        text-align: center;
    }
}

.flight-data {
    font-size: 1.3rem;
    margin-bottom: 24px;
    color: #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}
.flight-data div:nth-child(first-child) {
  text-align: left;
}
/* .flight-data div:nth-child(odd) {
    text-align: right;
} */
/* 
.flight-data div:nth-child(even) {
    text-align: left;
    margin-right: 60px;
} */

.flight-data div {
    margin-top: 24px;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 16px/18px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #712594;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    input[type=text] {
        width: 50%;
    }
}
/* Brands */
.section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.brands-center {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}

.brand {
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
}

.brand img {
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .brands-center {
    grid-template-columns: repeat(3, 1fr);
  }
  .section{
    display: none;
  }
}